.SGB {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  gap: 2rem;
}
.SGB .section-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.SGB .section-1 .section-1-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  
}
.SGB .section-1 .section-1-content h1{
  font-size: 2.8rem;
  font-weight: 600;
}
.SGB .section-1 .section-1-content p{
  font-weight: 500;
  text-align: center;
  font-size: 1.3rem;
}
.SGB .section-1 .sectiom-1-image {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.SGB .section-1 .sectiom-1-image img {
  width: 80%;
}
.SGB .mutualFund-header {
  width: 80%;
  background-color: #103e60;
  color: #ffffff;
  align-items: center;
  padding: 1rem;
  text-align: center;
}
.SGB .parent-table {
  width: 80%;
}

.parent-table .orange {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.parent-table .yellow {
  width: 100%;
  background-color: #f8b84e;
}
.SGB .parent-table .orange h4{
  font-size: 1.2rem;
  padding: 1rem;
}
.parent-table .white {
  width: 100%;
  background-color: #ffbe9d;
  text-align: left;
  align-items: center;
}
.parent-table .white p {
  margin: 0;
}
.border-left {
  border-left: 4px solid #455a64;
}

.border-right {
  border-right: 4px solid #455a64;
}

.border-bottom {
  border-bottom: 4px solid #455a64;
}
@media only screen and (max-width: 768px) {
  .SGB{
    padding: 1rem;
  }
  .SGB .section-1 {
    flex-direction: column;
  }
  .SGB .section-1 .section-1-content{
    width: 100%;
    gap: 0.5rem;
  }
  .SGB .section-1 .section-1-content h1 {
    font-size: 2rem;
  }
  .SGB .section-1 .section-1-content p {
    font-size: 1.1rem;
  }
  .SGB .section-1 .sectiom-1-image {
    width: 60%;
  }
  .SGB .mutualFund-header {
    width: 100%;
  }
  .SGB .mutualFund-header h1{
    font-size: 1.5rem;
  }
  .SGB .parent-table {
    width: 100%;
    overflow-x: scroll;
  }
}
@media only screen and (max-width: 450px) {
  .SGB .section-1 .sectiom-1-image {
    width: 80%;
  }
  .SGB .section-1 .section-1-content {
    width: 100%;
  }
  .SGB .section-1 .section-1-content h1{
    font-size: 1.8rem;
    text-align: center;
  }
  .SGB .section-1 .section-1-content p{
    text-align: justify;
    font-size: 1rem;
  }
  .SGB .mutualFund-header h1{
    font-size: 1.3rem;
  }
  .SGB .parent-table{
    margin-top: 0%;
  }
}
