.AboutUs-Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.AboutUs-Banner {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.AboutUs-Banner-Content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.AboutUs-Banner-Content h1 {
  font-size: 2.8rem;
  font-weight: 600;
}
.AboutUs-Banner-Content p {
  width: 80%;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}
.AboutUs-Banner-Image {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AboutUs-Banner-Image img {
  width: 80%;
}
.AboutUs-Content-row {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.AboutUs-Logo {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AboutUs-Logo img {
  width: 70%;
}
.AboutUs-Content {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  padding: 3rem;
  text-align: justify;
}
.AboutUs-Content p {
  font-size: 20px;
  font-weight: 500;
}
.about-milestone-container{
  width: 100%;
  margin-top: 6rem;
}
.milestone-cards-wrapper{
  width: 100%;
  padding: 2rem;
  display: flex;
  margin-top: 2rem;
}
.milestone-card{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: calc(100%/5 - 2rem);
  margin: 1rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.milestone-card .milestone-img{
  height: 6rem;
  margin-top: -3rem;
}
.milestone-card p{
  padding: 1rem;
  text-align: left;
  font-weight: 500;
}
.milestone-card h3{
  margin-top: 1rem;
  font-weight: 600;
}
.about-success-img{
  width: 100%;
  margin-top: -9rem;
}
.Meet-The-Team-Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.Meet-The-Team-Container h1,
.about-milestone-container h1 {
  font-size: 2.6rem;
  font-weight: 600;
  text-align: center;
}
.Team-Grid-Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff6ea;
  padding: 2rem;
}
.Team-Cards-Grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}
.Team-Card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.Team-Card img {
  width: 50%;
}
.Achievements-Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.Achievements-Container h1 {
  font-size: 2.6rem;
  font-weight: 600;
}
.Container-Row {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Container-Col {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.Container-Col img {
  width: 30%;
}
.Container-Col p {
  width: 70%;
  text-align: center;
  color: #8989a2;
}
.Container-Images {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.Container-Images .achievement-wrapper{
  box-shadow: var(--shadow-primary);
  border-radius: 2px;
  padding: 0.5rem;
  width: calc(50% - 4rem);
  margin: 2rem;
}
.Container-Images .achievement-wrapper:nth-child(1){
  transform: translateX(-5%);
}
.Container-Images .achievement-wrapper:nth-child(2){
  transform: translateX(-5%);
}
.Container-Images .achievement-wrapper:nth-child(3){
  transform: translateX(5%);
}
.Container-Images .achievement-wrapper:nth-child(4){
  transform: translateX(5%);
}
.Container-Images .achievement-wrapper:nth-child(5){
  transform: translateX(15%);
}
.Container-Images img {
  width: 100%;
}

@media only screen and (max-width: 1400px) {
  .about-success-img{
    margin-top: -5rem;
  }
}
@media only screen and (max-width: 1100px) {
  .about-success-img{
    margin-top: -2rem;
  }
  .milestone-card{
    width: calc(100% / 3 - 2rem);
    margin-top: 3rem;
  }
  .milestone-cards-wrapper{
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0; 
  }
  .milestone-card .milestone-img{
    height: 4rem;
    margin-top: -2rem;
  }
}
@media only screen and (max-width: 1030px) {
  .AboutUs-Container {
    margin-top: 8rem;
  }
  .AboutUs-Banner-Content h1 {
    font-size: 40px;
  }
  .AboutUs-Banner-Content p {
    font-size: 35px;
  }
  .AboutUs-Banner-Image img {
    width: 85%;
  }
  .AboutUs-Content-row {
    width: 95%;
  }
  .AboutUs-Content {
    padding: 2rem;
  }
  .AboutUs-Logo img {
    width: 80%;
  }
  .Meet-The-Team-Container h1,
  .about-milestone-container h1 {
    font-size: 2rem;
  }
  .Team-Cards-Grid {
    gap: 0%;
  }
  .Achievements-Container h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .Container-Images .achievement-wrapper{
    box-shadow: var(--shadow-primary);
    border-radius: 2px;
    padding: 0.5rem;
    width: calc(50% - 2rem);
    margin: 1rem;
  }
  .milestone-cards-wrapper{
    padding: 2rem 1rem;
  }
  .about-success-img{
    margin: 0;
  }
  .AboutUs-Banner {
    width: 100%;
    flex-direction: column;
    padding: 1rem;
  }
  .AboutUs-Container{
    margin-top: 1rem;
    gap: 0;
  }
  .AboutUs-Banner-Content {
    width: 100%;
    gap: 1rem;
  }
  .AboutUs-Banner-Content p {
    font-size: 1.3rem;
  }
  .AboutUs-Banner-Content h1 {
    font-size: 2rem;
  }
  .AboutUs-Banner-Image {
    width: 75%;
  }
  .AboutUs-Content p {
    font-size: 1rem;
  }
  .AboutUs-Content-row {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .about-milestone-container {
    margin-top: 3rem;
  }
  .Achievements-Container h1 {
    font-size: 2rem;
  }
  .Team-Card{
    gap: 0;
  }
}
@media only screen and (max-width: 450px) {
  .AboutUs-Banner-Image {
    width: 100%;
  }
  .AboutUs-Banner-Image img {
    width: 100%;
  }
  .AboutUs-Banner-Content {
    width: 100%;
    gap: 0;
  }
  .AboutUs-Banner-Content h1 {
    font-size: 1.6rem;
  }
  .AboutUs-Logo img {
    width: 9rem;
  }
  .Team-Card h1{
    font-size: 1.3rem;
  }
  .AboutUs-Banner-Content p {
    font-size: 1.1rem;
    margin-left: 0%;
    text-align: center;
  }
  .AboutUs-Content-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .AboutUs-Logo {
    width: 100%;
  }
  .AboutUs-Content {
    width: 95%;
    padding: 1rem;
  }
  .AboutUs-Content p {
    font-size: 15px;
  }
  .Meet-The-Team-Container h1,
  .about-milestone-container h1 {
    font-size: 1.5rem;
  }
  .Team-Cards-Grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .milestone-card{
    width: 100%;
    margin: 1rem 0;
    margin-top: 2rem;
  }
  .milestone-card p{
    font-size: 0.9rem;
    padding: 0 1rem;
  }
  
  .Team-Card {
    width: 95%;
  }
  .Container-Row {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Achievements-Container h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
  }
  .Container-Col {
    width: 100%;
  }
  .Container-Col p {
    width: 95%;
  }
  .Container-Col img{
    width: 9rem;
  }
  .Container-Images {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Container-Images img {
    width: 90%;
  }
  .Container-Images .achievement-wrapper:nth-child(1),
  .Container-Images .achievement-wrapper:nth-child(2),
  .Container-Images .achievement-wrapper:nth-child(3),
  .Container-Images .achievement-wrapper:nth-child(4),
  .Container-Images .achievement-wrapper:nth-child(5){
    transform: translateX(0);
  }
  .Container-Images .achievement-wrapper{
    width: 100%;
    margin: 0.5rem 0;
  }
}
