.ApplyMutualFund {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  gap: 1rem;
  padding-top: 3rem;
}

.ApplyMutualFund .mutualFund-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.ApplyMutualFund .mutualFund-content .mutualFund-header {
  width: 80%;
  background-color: #103e60;
  color: #ffffff;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.ApplyMutualFund .parent-table {
  margin-top: 3rem;
  width: 80%;
}

.parent-table .orange {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.ApplyMutualFund .parent-table .orange h4{
  font-size: 1.2rem;
  padding: 1rem;
}
.parent-table .white {
  width: 100%;
  background-color: #ffbe9d;
  text-align: left;
  align-items: center;
}

.white p {
  margin: 0;
}

.border-left {
  border-left: 4px solid #455a64;
}

.border-right {
  border-right: 4px solid #455a64;
}

.border-bottom {
  border-bottom: 4px solid #455a64;
}

.white a {
  color: red;
  text-decoration: none;
}

.contect-info {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contect-info-content button {
  width: 18%;
  background-color: #103e60;
  color: #fff6ea;
  padding: 1rem;
  border: none;
  font-size: 1.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .ApplyMutualFund{
    padding: 1rem;
  }
  .ApplyMutualFund .mutualFund-content .mutualFund-header {
    width: 100%;
  }
  .ApplyMutualFund .section-title{
    font-size: 1.5rem;
  }
  .ApplyMutualFund .parent-table {
    margin-top: 1rem;
    width: 100%;
    overflow-x: scroll;
  }
  .contect-info {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .ApplyMutualFund .mutualFund-content .mutualFund-header {
    padding: 0.8rem;
  }
  .ApplyMutualFund .parent-table {
    margin-top: 0;
  }
  .ApplyMutualFund .section-title {
    font-size: 1.3rem;
  }
}
