.Applyipo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  gap: 2rem;
}
.Applyipo .content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.Applyipo .section-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffbe9d;
}
.Applyipo .section-1 .section-1-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Applyipo .section-1 .section-1-content h1{
  font-size: 3rem;
  font-weight: 600;
}
.Applyipo .section-1 .section-1-image {
  width: 60%;
}
.Applyipo .section-1 .section-1-image img {
  width: 70%;
}
.Applyipo .h1 {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Applyipo .mutualFund-header {
  width: 80%;
  background-color: #103e60;
  color: #ffffff;
  align-items: center;
  padding: 1rem;
  text-align: center;
}
.Applyipo .parent-table {
  box-shadow: 0 4px 28px 0 rgba(31, 38, 135, 0.3);
  width: 80%;
  margin-top: 2rem;
}


.white p {
  margin: 0;
}

.border-left {
  border-left: 4px solid #455a64;
}

.border-right {
  border-right: 4px solid #455a64;
}

.border-bottom {
  border-bottom: 4px solid #455a64;
}
.Applyipo .parent-table .white-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Applyipo .parent-table .white-button button {
  background-color: #103e60;
  color: #ffffff;
  padding: 0.3rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}
.Applyipo .parent-table .white-button a {
  color: #ffffff;
}
@media only screen and (max-width: 1200px) {
  .Applyipo .section-1 {
    padding: 1rem;
  }
  .Applyipo .section-1 .section-1-image {
    width: 50%;
  }
  .Applyipo .content-wrapper{
    padding: 1rem;
  }
  .Applyipo .h1 {
    width: 100%;
  }
  .Applyipo .mutualFund-header {
    width: 100%;
  }
  .Applyipo .parent-table{
    width: 100%;
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 768px) {
  .Applyipo{
    padding-top: 0;
  }
  .Applyipo .section-1 .section-1-content h1 {
    font-size: 2rem;
  }
  .Applyipo .section-title{
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 450px) {
  .Applyipo .section-1 {
    width: 100%;
    flex-direction: column;
  }
  .Applyipo .section-1 .section-1-content h1 {
    font-size: 1.8rem;
  }
  .Applyipo .section-1 .section-1-content {
    width: 100%;
    text-align: center;
  }
  .Applyipo .section-1 .section-1-image {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
